<mat-toolbar style="justify-content: flex-end;" color="primary" fxLayout="row" fxLayoutAlign="space-between center">

  <span >
    <button *ngIf="isAuthenticated" mat-button >Bem-Vindo(a) {{formatarNomeCompleto(usuarioLogado?.nome ?? '')}}</button>
    <button *ngIf="isAuthenticated" mat-button ><mat-icon>account_circle</mat-icon></button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <span >
      <button  mat-button routerLink="/home"><mat-icon>home</mat-icon></button>
    </span>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu  x-position="before" #menu="matMenu">
  <button (click)="OpenDialogPerfil()" *ngIf="isAuthenticated" mat-menu-item>
    <mat-icon>person</mat-icon>
    Perfil
  </button>
  <button *ngIf="!isAuthenticated" mat-menu-item routerLink="/cadastro">
    <mat-icon>person</mat-icon>
    Cadastrar
  </button>
  <button *ngIf="isAuthenticated" mat-menu-item routerLink="/home">
    <mat-icon>photos</mat-icon>
    Galeria
  </button>
  <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>
<router-outlet></router-outlet>
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
[fullScreen]="true"

>
<p style="font-size: 20px; color: white;">Carregando...</p>
</ngx-spinner>