.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-card {
    width: 400px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .register-button {
    width: 100%;
    margin-top: 20px;
  }

  h1{
    text-align: center !important;
    color: #3f51b5;
    font-family:sans-serif, Helvetica;
  }