<div ngif="imagemExcluir">
  <mat-card class="custom-card">
    <h1>Deseja Confirmar a Exclusão ?</h1>
    <div *ngFor="let item of imagemExcluir">
      <div class="image-container">
        <img [src]="item.imagePath" alt="Imagem" class="image" />
      </div>
      <div class="modal-buttons">
        <div class="button-container">
          <button class="buttonEditModal" mat-raised-button color="warn" (click)="ExcluirImagem()">
            Confirmar Exclusão
          </button>
          <button class="buttonEditModal" mat-raised-button (click)="Cancelar()">Voltar</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>